
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<body>
    <head>
        <title>Humburger Restaurant Sitesi</title>
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta name="keywords" content="Humburger Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }

        </script>
        <!-- //Meta tag Keywords -->
        <!-- Custom-Files -->
        <link rel="stylesheet" href="~/AAAweb/css/bootstrap.css">
        <!-- Bootstrap-Core-CSS -->
        <link rel="stylesheet" href="~/AAAweb/css/style.css" type="text/css" media="all" />
        <!-- Style-CSS -->
        <!-- font-awesome-icons -->
        <link href="~/AAAweb/css/font-awesome.css" rel="stylesheet">
        <!-- //font-awesome-icons -->
        <!-- /Fonts -->
        <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,600,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
        <!-- //Fonts -->
    </head>
    <div class="main-content" id="home">
        <div class="layer">

            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4 d-lg-flex">
                    <div id="logo">
                        <h1> <a href="index.html"><span class="fa fa-align-center" aria-hidden="true"></span>HAMBURGER</a></h1>
                    </div>
                    <ul class="menu mt-2 ml-auto" style="margin-right:400px;">
                        <li class="active"><a href="/Home/Index">ANASAYFA</a></li>
                        <li><a href="#about" class="scroll">HAKKIMDA</a></li>
                        <li><a href="#menu" class="scroll">MENU</a></li>
                        <li><a href="#testimonials" class="scroll">YORUMLAR</a></li>
                        <li><a href="/Home/Yusuf" class="scroll">İLETİŞİM</a></li>
                        <li>
                            <a href="/Login/Index" class="scroll">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                                    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
            <br />
            <br />
            <br />
            <br />




            @RenderBody()



            <br />
            <br />





            <br />
            <br />
            <footer class="footer-content">
                <div class="layer footer">
                    <div class="container-fluid">
                        <div class="row footer-top-inner-w3ls">
                            <div class="col-lg-8 col-md-6 mt-md-0 mt-5">
                                <div class="footer-w3pvt">
                                    <h3 class="mb-3 w3pvt_title">Açılış saatleri</h3>
                                    <hr>
                                    <ul class="list-info-w3pvt last-w3ls-contact mt-lg-4">
                                        <li>
                                            <p>Pazartesi - Cuma 08.00 - 22.00</p>
                                        </li>
                                        <li class="my-2">
                                            <p>Cumartesi 08.00 - 22.00</p>
                                        </li>
                                        <li class="my-2">
                                            <p>Pazar 08.00 - 22.00</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                                <div class="w3ls-footer text-center">
                                    <ul class="list-unstyled w3ls-icons">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-facebook-f"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-twitter"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-dribbble"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-vk"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="move-top text-right"><a href="#home" class="move-top"><span class="fa fa-angle-up mb-3" aria-hidden="true"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</body>

</html>
